In [7]:
import sqlite3

In [8]:
# connect to an sqlite db :create db
connection=sqlite3.connect("ex.db")
connection

In [9]:
cursor=connection.cursor()

In [16]:
# create table
cursor.execute('''
    create table if not exists umer3(id INTEGER PRIMARY KEY,name TEXT NOT NULL,email TEXT UNIQUE,age INTEGER)
''')
connection.commit()

In [17]:
cursor.execute('''
    Insert Into umer3(name,email,age) values ("umer","abcd@gmail.com",15)
''')
cursor.execute('''
    Insert Into umer3(name,email,age) values ("umer2","abcde@gmail.com",16)
''')
cursor.execute('''
    Insert Into umer3(name,email,age) values ("umer3","abce@gmail.com",17)
''')
connection.commit()

In [18]:
# quering data from the table
cursor.execute('''select* from umer3''')
rows=cursor.fetchall()
# print quered data
for row in rows:
    print(row)

(1, 'umer', 'abcd@gmail.com', 15)
(2, 'umer2', 'abcde@gmail.com', 16)
(3, 'umer3', 'abce@gmail.com', 17)

update data in the table

In [19]:
cursor.execute('''
update umer3 set age=34 where name="umer2"
''')

In [20]:
# quering data from the table
cursor.execute('''select* from umer3''')
rows=cursor.fetchall()
# print quered data
for row in rows:
    print(row)

(1, 'umer', 'abcd@gmail.com', 15)
(2, 'umer2', 'abcde@gmail.com', 34)
(3, 'umer3', 'abce@gmail.com', 17)

In [22]:
# deleting data from the table
cursor.execute('''
delete from umer3 where name="umer3"
''')

In [23]:
# quering data from the table
cursor.execute('''select* from umer3''')
rows=cursor.fetchall()
# print quered data
for row in rows:
    print(row)

(1, 'umer', 'abcd@gmail.com', 15)
(2, 'umer2', 'abcde@gmail.com', 34)

Project

In [24]:
connection=sqlite3.connect("sales.db")
connection

In [25]:
cursor=connection.cursor()
cursor.execute('''
    create table if not exists umer3(id INTEGER PRIMARY KEY,name TEXT NOT NULL,email TEXT UNIQUE,age INTEGER)
''')
connection.commit()

In [27]:
cursor.execute('''
create table if not exists sale(id integer primary key,product TEXT NOT NULL,sales INTEGER, region TEXT)
''')

In [32]:
sales_data=[
    ("apple",2000,"north"),
    ("banana",3000,"east"),
    ("mango",2400,"west"),
    ("carrot",1000,"all"),
    ("turnip",3000,"west_east"),
    ("almond",450,"north"),
    ("pineapppe",4000,"south")
]

In [33]:
cursor.executemany('''
insert into sale(product,sales,region) values(?,?,?)
''',sales_data)
connection.commit()

In [34]:
cursor.execute('select * from sale')
lines=cursor.fetchall()
for line in lines:
    print(line)
connection.commit()

(1, 'apple', 2000, 'north')
(2, 'banana', 3000, 'east')
(3, 'mango', 2400, 'west')
(4, 'carrot', 1000, 'all')
(5, 'turnip', 3000, 'west_east')
(6, 'almond', 450, 'north')
(7, 'pineapppe', 4000, 'south')

In [35]:
# close the connection permananelty
connection.close()
# cant access db anymore