* 24/12/24
# lambda function:
* small anonymous function with only one expression

In [3]:
def add(a,b):
    return a+b
print(add(4,6))

10

# add= lambda arguments:operation/expression

In [10]:
add=lambda a,b:a+b
print(add(2,7))

9

In [12]:
add=lambda *a:sum(a)
print(add(2,3,4,56))

65

#  lambda with map

In [20]:
# square of a number : other than for loop
list1=[1,2,3,4,5]
list(map(lambda a:a**2,list1))

[1, 4, 9, 16, 25]

#  map function:
* applies function to each item in an input list(any iterable) and returns a map object(an iterator),useful for transforming data in a list comprehensivey

In [30]:
def square(a):
    return a**2

number=[11,2,3,4,5,6]
list(map(square,number))

[121, 4, 9, 16, 25, 36]

In [37]:
# map multiple iterables
num1=[1,2,3]
num2=[4,5,6]
# output = [5,7,9]

list(map(lambda x,y:x+y,num1,num2))

[5, 7, 9]

In [39]:
# convert string to integer
num=['1','2','3','4']
list(map(int,num))

[1, 2, 3, 4]

In [43]:
# lowercase to upper
words=['apple','banana','mango']
upper=list(map(str.upper,words))
print(upper)

['APPLE', 'BANANA', 'MANGO']

# filter function
* used to filter out itmes from a list based on a condition

In [69]:
def even(x):
    if x%2==0:
        return True

lis=[1,2,3,4,5,6,7,8,9,10,11,12]

tuple(filter(even,lis))

#only elements which satisfy condition are considered

(2, 4, 6, 8, 10, 12)

In [89]:
# filter with lambda

# filter even numbers
# tuple(filter(lambda x:True if x%2==0 else False,lis))  
# tuple(filter(lambda x:x%2==0,lis))

# filter numbers>5
# tuple(filter(lambda x:True if x>5 else False,lis))
tuple(filter(lambda x:x>5,lis))

(6, 7, 8, 9, 10, 11, 12)

In [101]:
# filter with lambda and multipe comnditions
# filter numbers which are even and greater than 5

# even_greater=tuple(filter(lambda x:True if x>5 and x%2==0 else False,lis))
even_greater=tuple(filter(lambda x:x>5 and x%2==0,lis))
print(even_greater)

(6, 8, 10, 12)

In [113]:
# filter to check if age is greater than 18 in dictionary
people=[
    {'name':"umer",'age':20},
      {'name':"adnan",'age':18},
      {'name':"amir",'age':19}
]

tuple(filter(lambda p:p['age']>18,people))

({'name': 'umer', 'age': 20}, {'name': 'amir', 'age': 19})

# practice

In [16]:
# element exists uniquely 
lis=[1,2,3,4,5,5,6,7]

list(map(lambda x:lis.count(x)==1,lis))

[True, True, True, True, False, False, True, True]

In [28]:
# reverse a list
li=[1,2,3,4,5,6,7,8]

def rev(a,b):
    x=a
    a=b
    b=x

SyntaxError: cannot assign to lambda (275120404.py, line 5)